extends /layouts/base.pug

include /components/title/title

block content

block content
  .container.mt-5
    h1.title.h1.mb-4.text-center Welcome to this Vituum Pug Site Template
    p.lead.mb-4 This is a template using vite for generating a static site. In this template we use pug as template engine, scss for styling, bootstrap for css and jquery for js.
    p.lead.mb-4 This template is built with vite and vituum.
    p.lead.mb-4 Check out the read me for more information on the structure of the project.
